
CREATE DATABASE [QLMonAn]
 
USE [QLMonAn]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 6/10/2022 7:51:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[Nhom] [int] NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomMonAn]    Script Date: 6/10/2022 7:51:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomMonAn](
	[MaNhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhomMonAn] PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MonAn] ON 

INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [DonViTinh], [DonGia], [Nhom]) VALUES (1, N'Gỏi thập cẩm', N'Dĩa', 120000, 1)
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [DonViTinh], [DonGia], [Nhom]) VALUES (2, N'Gỏi sứa', N'Dĩa', 140000, 1)
INSERT [dbo].[MonAn] ([MaMonAn], [TenMonAn], [DonViTinh], [DonGia], [Nhom]) VALUES (3, N'Gỏi tai heo', N'Dĩa', 110000, 1)
SET IDENTITY_INSERT [dbo].[MonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomMonAn] ON 

INSERT [dbo].[NhomMonAn] ([MaNhom], [TenNhom]) VALUES (1, N'Khai vị')
INSERT [dbo].[NhomMonAn] ([MaNhom], [TenNhom]) VALUES (2, N'Hải sản')
INSERT [dbo].[NhomMonAn] ([MaNhom], [TenNhom]) VALUES (3, N'Bia - Nước ngọt')
SET IDENTITY_INSERT [dbo].[NhomMonAn] OFF
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_NhomMonAn] FOREIGN KEY([Nhom])
REFERENCES [dbo].[NhomMonAn] ([MaNhom])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_NhomMonAn]
GO
USE [master]
GO
select * from nhommonan